$base_yellow_color:#F7DF1C;
$base_white_color:#ffffff;
$base_black_color:#000000;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // not neccesary
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 10px;
}
#mainContent{
    max-height: calc(100vh - 120px);
    overflow-y: scroll;
    font-family: 'Verdana', sans-serif;
    font-size: 18px; 
    margin-top: 10px;
    .textAlignment{
        text-indent: 50px;
        margin-bottom: 10px;
        line-height: 27px;
        >b{
            font-size: 20px;
        }
    }
    .forBTSpace{
        margin-bottom: 20px;
        line-height: 27px;
        > span{
            font-weight: bolder;
            font-size: 20px;
        }
    }
}

.landingPage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 'h h h h h h'
        's m m m m m';
    grid-template-rows: 120px calc(100vh - 120px);

    .header {
        grid-area: h;
        font-size: 20px;
        text-align: left;
        font-weight: bold;
        display: grid;
        padding-left: 20px;
        align-items: center;
        height: 100%;
        background-color: $base_yellow_color;

        h1 {
            margin: 0;
            color: $base_black_color;
        }
    }

    .sidebar {
        grid-area: s;
        background-color: #E7F2FD;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        max-height: calc(100vh - 120px);
        overflow-y: scroll;
        margin-right: 15px;
        >p {
            &:last-child {
                margin-bottom: 20px;
            }

            &:nth-child(1) {
                margin-top: 20px;
            }
            display: grid;
            >a {
                color: $base_black_color;
                margin: 0;
                padding: 0;
                height: 50px;
                font-size: 22px;
                font-weight: bold;
                position: relative;
                text-decoration: none;
                padding-left: 50px;
                display: grid;
                align-items: center;
            }

            &:hover {
                background-color: #e9ecef;

                >a {
                    color: $base_black_color;
                }
            }
        }

        .subMenu {
            background: $base_black_color;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
            // backdrop-filter: blur(5px);
            // -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            position: absolute;
            z-index: 1000;
            max-height: calc(100vh - 120px);
            overflow-y: scroll;
            opacity: 0.9;
            a {
                color: $base_white_color;
                text-decoration: none;
                p {
                    font-size: 18px;
                    padding: 10px 50px;
                    &:hover {
                        background-color: #D0E9F1;
                        color: $base_black_color;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
.main {
    grid-area: m;
    background-color: $base_white_color;
}
.contentStyle {
    grid-area: m;
    background-color: #E7F2FD;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    max-width: 99%;
}
.codeEditor {
    display: grid;
    grid-template-columns: 3fr 0.8fr 3fr;
    grid-gap: 20px;
    .editorResult {
        height: 200px;
        width: 97%;
        border: 1px solid black;
        background-color: $base_black_color;
        color: #E7F2FD;
        max-width: 500px;
    }
    .editorBtn {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 50px);
        align-content: center;
        grid-gap: 10px;

        button {
            color: $base_white_color;
            background-color: $base_black_color;
            font-weight: bold;
        }
    }
    #editorResultCode {
        #resultWindow {
            height: 100%;
            overflow-y: scroll;
            font-size: 15px;
            li {
                list-style: none;
                padding: 5px 0px 0px 10px;
            }

            .log-string {
                color: #48BF0A;
            }

            .log-default {
                color: $base_white_color;
            }

            .log-array {
                color: skyblue;
            }

            .log-object {
                color: darkcyan;
            }

            .log-error {
                color: red
            }
        }
    }
}
.activeMenu{
    >a:nth-child(1){
        color: deepskyblue !important;
    }
}
.orderListStyle{
    margin-left: 35px;
    li{
        margin: 10px 0px;
        line-height: 27px;
    }
}